{% extends 'index.html' %}
{% block content %}
    {% load category_tags %}
    <div class="form-group">
    <ul class="errorlist">
        {% for key, value in form2.errors.items %}
            <li>{% if key != '__all__' %}{{ key }} {% endif %}{{ value }}</li>
        {% endfor %}
    </ul>
        <form method="POST" name="form2" action="{% url 'accounts:user_profile_update' pk=request.user.id %}">
            {% csrf_token %}
            <div class="form-group">
                <div class="col-sm-10">
                    <label for="formGroupExampleInput">First Name:</label>
                </div>
                <div class="col-sm-10">
                    {{ form2.first_name|addclass:'form-control' }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10">
                    <label for="formGroupExampleInput">Last Name:</label>
                </div>
                <div class="col-sm-10">
                    {{ form2.last_name|addclass:'form-control' }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10">
                    <label for="formGroupExampleInput">Email:</label>
                </div>
                <div class="col-sm-10">
                    {{ form2.email|addclass:'form-control' }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10">
                    <input type="submit" class="btn btn-primary" name="form2" value="{{ btn_label }}"/>
                </div>
            </div>
        </form>

    </div>
    <div class="form-group">
    <ul class="errorlist">
        {% for key, value in form.errors.items %}
            <li>{% if key != '__all__' %}{{ key }} {% endif %}{{ value }}</li>
        {% endfor %}
    </ul>
        <form method="POST" name="form1" action="{% url 'accounts:user_profile_update' pk=request.user.id %}">
            {% csrf_token %}
            <div class="form-group">
                <div class="col-sm-10">
                    <label for="formGroupExampleInput">Phone Number:</label>
                </div>
                <div class="col-sm-10">
                    {{ form.phone_number|addclass:'form-control' }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10">
                    <label for="formGroupExampleInput">Tag line:</label>
                </div>
                <div class="col-sm-10">
                    {{ form.tag_line|addclass:'form-control' }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10">
                    <input type="submit" class="btn btn-primary" name="form" value="{{ btn_label }}"/>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
