{% include 'base.html' %}
<html lang="en">
{% block header %}
{% include 'header.html' %}
{% endblock header %}
  <body id="page-top">
    <!-- Sidebar -->
    <div id="wrapper">
      <!-- sidebar -->
    {% block sidebar %}
  {% include 'sidebar.html' %}
      <!-- End of sidebar -->
    {% endblock sidebar %}

    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
  {% include 'topbar.html' %}
      <!-- End of Topbar -->
    {% block content %}
    {% endblock content %}
    {% include 'footer.html' %}
    {% include 'logout_modal.html' %}

  </div>
</div>

</div>

  </body>
</html>
